@use '../abstracts' as *;

.container {
    width: 76.2%;

    @include respond-to($tablet-breakpoint) {
        width: 62.2%;
    }

    @include respond-to($desktop-breakpoint) {
        width: 83.4%;
    }
}
