@use '../abstracts' as *;

.container {
    max-width: 92.1%;

    @include respond-to($tablet-breakpoint) {
        max-width: 87.5%;
    }

    @include respond-to($desktop-breakpoint) {
        max-width: 82.7%;
    }
}
