@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.btn {
    font-weight: 700;
    padding: 1rem 2rem;
    font-size: 0.875rem;
    border-radius: 100px;
    display: inline-block;
    @include flex-center;
    &:hover {
        transition: transform 0.5s ease-in-out;
        transform: scale(1.1);
    }
}

.navbar__button {
    &--login {
        background-color: white;
    }
    &--signup {
        color: white;
        background-color: $blue-theme-color;
    }
}

.navigation__button-container {
    @include flex-center;
    gap: 10px;
}
