@use '../abstracts' as *;

.navigation__button-container {
    @include flex-center;
    gap: 2rem;
}

.btn {
    @include flex-center;
    font-weight: 700;
    padding: 1.5rem 3rem;
    border-radius: 10rem;
    display: inline-block;
    box-shadow: 0.05rem 0.05rem 10rem black;
    &--login {
        background-color: white;
    }
    &--signup {
        color: white;
        background-color: $iris;
    }
    &:hover {
        transition: transform 0.5s ease-in-out;
        transform: scale(1.1);
    }

    @include respond-to($tablet-breakpoint) {
        box-shadow: none;
    }

    @include respond-to($desktop-breakpoint) {
        box-shadow: none;
    }
}
