@use '../abstracts' as *;

.btn {
    font-weight: 700;
    padding: 1rem 2rem;
    font-size: 0.875rem;
    border-radius: px-to-rem(100px);
    display: inline-block;
    @include flex-center;
    &:hover {
        transition: transform 0.5s ease-in-out;
        transform: scale(1.1);
    }
}

.navbar__button {
    &--login {
        background-color: white;
    }
    &--signup {
        color: white;
        background-color: $iris;
    }
}

.navigation__button-container {
    @include flex-center;
    gap: px-to-rem(20px);
    // flex-wrap: wrap;
}
