@use '../abstracts' as *;

.icon-hamburger {
    font-size: px-to-rem(40px);
}

.navbar {
    @include flex-center;
    width: 100vw;
    padding: px-to-rem(38px) px-to-rem(19px);
    font-size: px-to-rem(14px);

    &__button-container {
        display: none;
    }

    &__flex-container {
        @include flex-center;
        flex: 1;
        position: relative;
        z-index: 1;
    }

    &__logo-container {
        justify-content: flex-start;
        flex: 1;
    }
    &__logo {
        height: px-to-rem(40px);
        width: px-to-rem(40px);
    }

    &__hamburger-container {
        order: 5;
        flex: 1;
        justify-content: flex-end;
    }
    &__navlinks-container {
        display: none;
    }

    @include respond-to($phone-breakpoint) {
        &__navlinks-container {
            display: none;
        }
    }

    @include respond-to($tablet-breakpoint) {
        padding: px-to-rem(30px) px-to-rem(66px);

        &__logo-container,
        &__hamburger-container {
            @include flex-center;
        }
        &__logo-container {
            order: 5;
        }
        &__hamburger-container {
            order: 2;
            justify-content: flex-start;
        }
    }
}

.navbar__navigation-drawer-navlinks--active {
    display: flex;
    position: absolute;
    z-index: 5;
    width: px-to-rem(300px);
    border-radius: px-to-rem(10px) px-to-rem(10px) 0 0;
    top: px-to-rem(116px);
    right: px-to-rem(10px);
    flex-direction: column;
    // gap: 2rem;
    text-align: center;
    padding: 3rem 0;
    height: calc(288px + 4rem);
    background-color: $iris;
    background-size: 2rem;
    font-size: 1.3rem;
    box-shadow: px-to-rem(1px) px-to-rem(1px) px-to-rem(100px)
        rgba(0, 0, 0, 0.218);

    & > a {
        // border-bottom: px-to-rem(1px) solid black;
        @include flex-center;
        width: 100%;
        color: white;
        cursor: pointer;
        flex: 1;
    }
}

.navbar__navigation-drawer-button-container--active {
    position: absolute;
    right: px-to-rem(10px);
    display: flex;
    top: calc(px-to-rem(116px) + px-to-rem(352px));
    background-color: $iris;
    width: px-to-rem(300px);
    border-radius: 0 0 px-to-rem(10px) px-to-rem(10px);
    align-items: center;
    justify-content: center;
    padding: px-to-rem(30px);
    gap: 1rem;
    border-top: px-to-rem(1px) solid white;
}

.navbar {
    @include respond-to($tablet-breakpoint) {
        padding: px-to-rem(30px) px-to-rem(66px);

        &__button-container {
            all: unset;
            // position: static;
            @include flex-center;
            flex: 1;
            order: 8;
            justify-content: flex-end;
        }

        &__navlinks-container {
            left: px-to-rem(20px);
            border-radius: px-to-rem(10px);
        }
    }
    @include respond-to($desktop-breakpoint) {
        padding: px-to-rem(64px) px-to-rem(150px);
        padding-right: px-to-rem(102px);
        justify-content: space-between;

        &__button-container,
        &__logo-container,
        &__hamburger-container,
        &__navlinks-container {
            @include flex-center;
        }

        &__button-container {
            flex: 1;
            order: 8;
            justify-content: flex-end;
            gap: px-to-rem(10px);
        }

        &__logo-container {
            order: 1.5;
            flex: 0.6;
            justify-content: flex-start;
        }
        &__hamburger-container {
            display: none;
        }
        &__navlinks-container {
            all: unset;
            @include flex-center;
            position: static;
            order: 5;
            gap: 1em;
            justify-content: space-evenly;
            height: auto;
            width: auto;
            flex: 2;
            & > a {
                color: $coarse-wool-light;
            }

            & a:hover {
                color: black;
            }
        }
    }
}
