@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.navlinks {
    &__container {
        display: none;
        z-index: 5;
    }
    &__container-close-icon {
        height: 30px;
        width: 30px;
    }
}

.navbar {
    &__navlinks {
        color: $grey-navbar-text-color;
        cursor: pointer;

        &:hover {
            color: black;
        }
    }
}
.navbar__button--login {
    box-shadow: 0.2px 0.2px 300px $grey-navbar-text-color;
}
