@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.navigation-drawer {
    height: 100dvh;
    position: absolute;
    top: 0;
    z-index: 5;
    background-image: url('../../../public/assets/images/grid-pattern-background.svg');
    background-size: 1rem;
    backdrop-filter: blur(5px);
    background-repeat: repeat;
    display: none;

    &__close-icon {
        height: 30px;
        width: 30px;
        display: block;
        align-self: flex-end;
        margin: 40px 19px;
        position: absolute;
    }

    &__navlinks {
        padding: 16px 32px;
        width: 80vw;
        border-radius: 10px;
        color: $grey-navbar-text-color;
        display: block;
        cursor: pointer;

        &-container {
            @include flex-center;
            border-radius: 10px;
            gap: 30px;
            width: 100vw;
            flex-direction: column;
            color: #19182580;
            text-align: center;
            justify-self: center;
            flex: 1;
        }

        &:hover {
            background-color: white;
            transition: transform 0.3s ease;
            transform: scale(1.1);
        }
    }
}

.navbar__button--login {
    box-shadow: 0.2px 0.2px 300px $grey-navbar-text-color;
}
