@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.header {
    &__orange-glow-image {
        position: absolute;
        top: 0px;
        z-index: 0;
    }
}

.navbar {
    @include flex-center;

    width: 100vw;
    padding: 38px 19px;
    width: 100dvw;

    &__flex-container {
        @include flex-center;
        flex: 1;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
    }
    &__logo-container {
        justify-content: flex-start;
        flex: 1;
    }
    &__logo {
        height: 40px;
        width: 40px;
    }

    &__hamburger-container {
        justify-content: flex-end;
    }

    &__button-container {
        // display: none;
    }

    @include respond-to($tablet-breakpoint) {
        .navbar {
            padding: 30px 66px;

            &__button-container {
                display: flex;
                order: 8;
                flex: 1;
                justify-content: flex-end;
            }

            &__logo-container {
                @include flex-center;
                order: 6;
                flex: 1;
            }
            &__hamburger-container {
                order: 2;
                flex: 1;
                justify-content: flex-start;
            }
        }
    }
}

.icon-hamburger {
    font-size: 40px;
}
