@use '../abstracts/' as *;

.header {
    &__orange-glow {
        position: absolute;
        height: px-to-rem(700px);
        width: px-to-rem(600px);
        top: px-to-rem(-200px);
        left: px-to-rem(-200px);
        border-radius: 100%;
        z-index: -6;

        background: $smashing-pumpkins;
        background: radial-gradient(
            circle,
            rgba(255, 87, 34, 0.4) 0%,
            rgba(255, 255, 255, 1) 65%
        );
    }
}
