@use '../abstracts/' as *;

.header {
    &__orange-glow {
        position: absolute;
        height: 80rem;
        width: 80rem;
        top: -20rem;
        left: -20rem;
        border-radius: 100%;
        z-index: -6;

        background: $smashing-pumpkins;
        background: radial-gradient(
            circle,
            rgba(255, 87, 34, 0.4) 0%,
            rgba(255, 255, 255, 1) 65%
        );
    }
}
