@mixin load-font($name, $file, $weight, $style, $format) {
    @font-face {
        font-family: $name;
        src: url('/assets/fonts/#{$file}.#{$format}') format('#{$format}');
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
