$btn-blue-primary-color: #5d50c6;
$btn-white-primary-color: #ffffff;
$glow-yellow-primary-color: #facd49;
$pink-theme-color: #f85e9f;
$text-black-primary-color: #191825;
$text-grey-color: #19182580;
$theme-orange-primary-color: #ff5722;
