@use 'functions';

// color variables
$iris: rgb(93, 80, 198);
$flame-yellow: rgb(250, 205, 73);
$oleander-pink: rgb(248, 94, 159);
$coarse-wool: rgb(25, 24, 37);
$smashing-pumpkins: rgb(255, 87, 34);
$coarse-wool-light: rgba(25, 24, 37, 0.5);

// font family variables
$circular-font: 'Circular Std';
$inter-font: 'Inter';

// font face details
$font-face-details: (
        'name': $inter-font,
        'file': '#{$inter-font}/inter-regular',
        'weight': 400,
        'style': normal,
        'format': 'woff2',
    ),
    (
        'name': $circular-font,
        'file': '#{$circular-font}/circular-std-black',
        'weight': 900,
        'style': normal,
        'format': 'woff2',
    ),
    (
        'name': $circular-font,
        'file': '#{$circular-font}/circular-std-medium',
        'weight': 500,
        'style': normal,
        'format': 'woff2',
    ),
    (
        'name': $circular-font,
        'file': '#{$circular-font}/circular-std-bold',
        'weight': 700,
        'style': normal,
        'format': 'woff2',
    );

//break-points
$phone-breakpoint: 430px;
$tablet-breakpoint: 1024px;
$desktop-breakpoint: 1440px;

// font face details including font name,file name,weight,style and format
$font-face-details: (
        'name': $inter-font,
        'file': 'Inter/inter-regular',
        'weight': 400,
        'style': normal,
        'format': 'woff2',
    ),
    (
        'name': $circular-font,
        'file': 'Circular std/circular-std-black',
        'weight': 900,
        'style': normal,
        'format': 'woff2',
    ),
    (
        'name': $circular-font,
        'file': 'Circular std/circular-std-medium',
        'weight': 500,
        'style': normal,
        'format': 'woff2',
    ),
    (
        'name': $circular-font,
        'file': 'Circular std/circular-std-bold',
        'weight': 700,
        'style': normal,
        'format': 'woff2',
    );

//font-size varaibles
$font-size-small: px-to-rem(14px);
$font-size-medium: px-to-rem(23px);
$font-size-large: px-to-rem(28);
$font-size-xl: px-to-rem(35px);
$font-size-heading-large: px-to-rem(56px);
$font-size-heading-xl: px-to-rem(69px);
$font-size-heading-medium: px-to-rem(40px);
$font-size-heading-small: (18px);
