$blue-theme-color: rgb(93, 80, 198);
$yellow-primary-color: rgb(250, 205, 73);
$pink-theme-color: rgb(248, 94, 159);
$black-theme-color: rgb(25, 24, 37);
$orange-theme-color: rgb(255, 87, 34);
$font-primary-heading: 'Circular Std';
$font-primary-body: 'Inter';
$grey-navbar-text-color: #19182580;
