$blue-btn-primary-color: rgba(93, 80, 198, 1);
$yellow-glow-primary-color: rgba(250, 205, 73, 1);
$pink-theme-color: rgba(248, 94, 159, 1);
$black-text-primary-color: rgba(25, 24, 37, 1);
$orange-theme-primary-color: rgba(255, 87, 34, 1);
