@use '../abstracts/' as *;
@use '../components/' as *;

.hero {
    @include flex-center;
    flex-direction: column;
    font-family: $circular-font;

    &__wrapper {
        @include flex-center;
        flex-direction: column;
        // flex: 1;
        padding: 6.4rem 0;
        // gap: 3.2rem;
        // width: 100%

        @include respond-to($desktop-breakpoint) {
            flex-direction: row;
            padding: 0;
            padding-top: 6rem;
        }
    }

    &__image {
        width: calc(89.6rem - 124px);

        @include respond-to($desktop-breakpoint) {
            width: calc(140rem - 124px);
        }
    }

    &__image-wrapper {
        @include respond-to($desktop-breakpoint) {
            // flex-direction: row;
            order: 5;
        }
    }

    &__body-button-container {
        @include flex-center;
        flex-direction: column;
        width: 100%;
        gap: 2.4rem;
        padding-top: 3.2rem;

        @include respond-to($tablet-breakpoint) {
            flex-direction: row;
            width: auto;
            gap: 1.6rem;
        }

        @include respond-to($desktop-breakpoint) {
            width: 100%;
            justify-content: flex-start;
        }
    }
    &__partners-wrapper {
        @include flex-center;
        flex-wrap: wrap;
        gap: 2.7rem;
        padding: 3.2rem 0;
        width: 100vw;

        @include respond-to($tablet-breakpoint) {
            width: 100%;
        }

        @include respond-to($desktop-breakpoint) {
            gap: 10rem;
        }
    }
    &__body {
        @include flex-center;
        flex-direction: column;
        text-align: center;
        // gap: 3.2rem;

        @include respond-to($tablet-breakpoint) {
            padding: 0 26.5rem;
        }

        @include respond-to($desktop-breakpoint) {
            padding: 0;
            align-items: flex-start;
            text-align: left;
        }
    }
    &__partner img {
        height: 2rem;

        @include respond-to($tablet-breakpoint) {
            height: 3.2rem;
        }
    }
    &__btn {
        width: 100%;
        padding: 2rem 3.2rem;

        @include respond-to($tablet-breakpoint) {
            padding: 1.6rem 3.2rem;
        }

        @include respond-to($desktop-breakpoint) {
            // padding: 1.6rem 3.2rem;
            width: auto;
        }
    }
    &__description {
        font-size: $font-size-small;
        color: $coarse-wool-light;

        @include respond-to($tablet-breakpoint) {
            font-size: $font-size-heading-small;
        }
    }
    &__title {
        font-size: $font-size-heading-medium;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0%;
        padding-top: 3.2rem;
        padding-bottom: 1.6rem;

        & span {
            color: $oleander-pink;
        }

        @include respond-to($tablet-breakpoint) {
            font-size: $font-size-heading-large;
        }
        @include respond-to($desktop-breakpoint) {
            font-size: $font-size-heading-xl;
        }
    }
}
